 
{%extends "base.html"%}
<!-- {%block styles%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/about.css')}}">
{%endblock%} -->
{%block content%}
<div class="container">
    <h2>about</h2>
    <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. 
        How do we make sure that you use your 1 minute to actually say something meaningful?</p>
    <p>pitch idea helps you post your ideas and also see other users ideas and comment and like them</p>
    <a href="link to login page">login</a>
    <a href="link to sign up page">do not have an account sign up</a>
</div>
{%endblock%}